.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.home-section{
    padding: 4rem 0;
}

.home-section a {
  text-decoration: none;
  color: var(--typography-colour);
}

.blog-left{
    display: none;
}

.blog-right {
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blog-container {
  height: 100%;
  width: 100%;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.452);
  border-radius: 1rem;
  padding: 2rem;
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.blog-content {
  font-size: 1.6rem;
  font-weight: 350;
  max-height: 18rem;
  overflow: hidden;
  position: relative;
}

.blog-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 65%;
  width: 100%;
  background: linear-gradient(to bottom, var(--background-colour-light), var(--background-colour));
}

h1 {
}

h2 {
  font-size: 2.5rem;
  line-height: 2.7rem;
}

.read-more {
  color: var(--accent-colour);
}

@media screen and (min-width: 768px) {
  .home-section {
    padding: 4rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }

  .home-section a {
    text-decoration: none;
    color: var(--typography-colour);
    
  }

  .blog-left {
    display: block;
    width: 30rem;
    height: 75vh;
    overflow-y: scroll;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.207);
  }

  .blog-right {
    height: 100%;
    width: 60%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
  }

  .blog-container {
    height: 100%;
    width: 100%;
    padding: 1rem 3rem;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.207);
  }

  h2 {
    padding: 1rem 0 0.5rem 0;
  }

  .read-more {
    font-size: 1.4rem;
    color: var(--typography-colour);
    opacity: 0.7;
    padding: 1rem 0;
    transition: transform 0.3s ease;
  }

  .read-more:hover {
    color: var(--accent-colour);
    opacity: 1;
    transform: translateY(-3px);
  }

  .list-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);

  }

  .list-item h2 {
    height: 90%;
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .list-item h2:hover {
    color: var(--accent-colour);
  }
}
