#hero {
  position: relative;
  height: 50vh;
  background-color: #222;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-graphic {
  position: absolute;
  inset: 0;
  background: url("../images/backgrounds/ttten.svg") no-repeat center;
  background-size: cover;
  z-index: 1;
  pointer-events: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  z-index: 2;
}

.cta-btn {
  border: 2px solid white;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.cta-btn:hover {
  background-color: var(--accent-colour);
}

.cta-btn {
  margin: 2rem 0;
  padding: 1rem 2.5rem;
  color: white;
}

.index-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 3rem;
  line-height: 3.4rem;
  color: var(--typography-colour);
}

.index-category h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 3rem;
  z-index: 2;
}

.index {
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.category-box {
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.571);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.category-box:nth-child(1) {
  background-image: url(../images/backgrounds/blogs.jpg);
}

.category-box:nth-child(2) {
  background-image: url(../images/backgrounds/aaron-burden-y02jEX_B0O0-unsplash.jpg);
}

.category-box:nth-child(3) {
  background-image: url(../images/backgrounds/glen-carrie-TfzeRFtlkFA-unsplash.jpg);
}

.category-box:nth-child(4) {
  background-image: url(../images/backgrounds/sahand-babali-Pa0I38PfNPs-unsplash.jpg);
}

:root {
  --border-thickness: 3px;
}

.quote-section {
  position: relative;
  width: 90%;
  max-width: 60rem;
  margin: 4rem auto;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--background-colour);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

/* Pseudo-element for the border */
.quote-section::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2.5px;
  background: linear-gradient(90deg, var(--accent-colour), #00ffff, #ff00ff);
  background-size: 400% 400%;
  background-repeat: no-repeat;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  background-position: 0% 0%;
  transition: background-position 0.3s ease;
}

.quote-section:hover::before {
  animation: borderFlow 8s linear infinite;
}

@keyframes borderFlow {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.quote-generator {
  background-color: var(--background-colour);
  color: var(--typography-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

@keyframes gradientMove {
  0% {
    background-position:
      0 0,
      0% 0;
  }
  100% {
    background-position:
      0 0,
      200% 0;
  }
}

#quote {
  color: var(--site-color-1);
  width: 70%;
  font-size: 2rem;
  font-weight: 350;
  line-height: 2.4rem;
}

#author {
  color: var(--site-color-1);
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

.generate-quote-btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
}

.generate-quote-btn::before {
  left: -100%;
  transition: var(--shine-transition);
}

.generate-quote-btn {
  position: relative;
  width: 20rem;
  height: 6rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  background: var(--accent-colour);
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 2rem;
  margin: 3rem;
  transition: all 0.4s ease-in-out 0s;
}

.generate-quote-btn:hover {
  box-shadow: var(--hard-shadow);
  transform: translateY(-0.4rem);
}

.generate-quote-btn:hover::before {
  left: 100%;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 4.4rem;
    margin: 1rem;
  }
  .index {
    width: 100%;
    padding: 1rem 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .category-box {
    height: 25rem;
    width: 32rem;
    color: rgba(255, 255, 255, 0.788);
    opacity: 1;
  }

  .category-box:hover .dark-overlay {
    opacity: 0;
  }

  .dark-overlay {
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    transition: all ease-in-out 200ms;
  }
}

@media screen and (min-width: 1024px) {
    .index {
    width: 100%;
    padding: 1rem 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .category-box {
    height: 25rem;
    width: 32rem;
    color: rgba(255, 255, 255, 0.788);
    opacity: 1;
  }

  .category-box:hover .dark-overlay {
    opacity: 0;
  }


}
