:root {
  --primary-colour: rgb(41, 41, 41);
  --accent-colour: rgba(94, 23, 235, 1);
  --accent-colour-light: rgb(115, 55, 236);
  --accent-colour-dark: rgb(74, 19, 185);
  --background-colour: rgb(228, 227, 227);
  --background-colour-light: rgba(228, 227, 227, 0.453);
  --background-colour-2: #c1c5c8;
  --input-colour: #e7e7e7;
  --product-card-bg: rgb(228, 228, 228);
  --product-card-bg-light: rgb(228, 228, 228);
  --grey-bg: rgb(224, 224, 224);
  --typography-colour: rgba(44, 44, 44, 1);
  --primary-font: "Roboto", sans-serif;
  --nav-font: 'Cera Round Pro DEMO', sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --tertiary-font: "Open Sans", sans-serif;
  --shine-degree: 120deg;
  --shine-color: rgba(228, 227, 227, 0.2);
  --shine-effect: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
  --shine-transition: all 0.65s ease-in-out;
  --normal-transition: all 0.2s ease-in-out 0s;
  --normal-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  --hard-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.732);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-colour);
  
  font-family: var(--primary-font), var(--secondary-font), var(--tertiary-font);
  font-size: 1.6rem;
  line-height: 2rem;
}

header {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: var(--background-colour);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.452);
  border: 1px solid var(--typography-colour);
  height: 6rem;
  padding: 1rem 2rem;
  z-index: 99;
}

footer {
  font-family: var(--tertiary-font);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--typography-colour);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.452);
  color: var(--background-colour-2);
  height: 5rem;
  width: 100%;
  text-align: center;
}

.nav-container {
  background-color: var(--background-colour);
  position: fixed;
  top: 6rem;
  left: 0;
  height: 100%;
  width: 70%;
  padding: 2rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  z-index: 99;
}

.menu-open .nav-container {
  transform: translateX(0);
}

.navlinks {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navlinks li {
  width: 100%;
  height: 100%;
  text-align: center;
}

.navlinks li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  line-height: 3.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--typography-colour);
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  text-decoration: none;
  color: var(--typography-colour);
}

.logo{
  height: 100%;
  width: auto;
}

.nav-logo a {
  text-decoration: none;
  color: var(--typography-colour);
}

.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.socials-container a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--typography-colour);
}

.loader {
  position: fixed;
  inset: 0;
  background: var(--background-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-svg {
  width: 150px;
  height: 150px;
}

.bg-circle {
  stroke: rgba(255, 255, 255, 0.1);
}

.progress-circle {
  opacity: 0;
  visibility: hidden;
  stroke: var(--accent-colour);
  stroke-linecap: round;
}

.loader-text {
  font-size: 2rem;
  fill: var(--typography-colour);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 98;
}

.menu-open .overlay {
  opacity: 1;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.menu-lines {
  width: 3rem;
  height: 2px;
  background: black;
  position: relative;
  display: block;
  transition: all 0.3s ease;
}

.menu-lines::before,
.menu-lines::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2px;
  background: black;
  left: 0;
  transition:
    transform 0.4s ease,
    top 0.4s ease;
}

.menu-lines::before {
  top: -8px;
}

.menu-lines::after {
  top: 8px;
}

.menu-open .menu-lines {
  background: transparent;
}

.menu-open .menu-lines::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-open .menu-lines::after {
  top: 0;
  transform: rotate(-45deg);
}

h1 {
  font-size: 3.6rem;
  line-height: 4rem;
}

.back-to-top {
  display: none;
  position: fixed;
  width: 4rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 0;
  border: none;
  outline: none;
  background-color: var(--product-card-bg);
  color: var(--typography-colour);
  cursor: pointer;
  padding: 0;
  border-radius: 50px;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  font-size: 2rem;
  transition: all 0.5s ease 0s;
}

.back-to-top:hover {
  background-color: var(--accent-colour);
  color: var(--background-colour);
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
  header {
    height: 7rem;
    border: 0;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    display: none;
  }
  .menu-toggle {
    display: none;
  }

  .nav-container {
    font-weight: 400;
    position: relative;
    inset: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    z-index: 99;
  }

  .navlinks {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .navlinks li {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .navlinks li a {
    line-height: 100%;
    text-transform: capitalize;
    font-family: var(--nav-font), var(--primary-font);
    display: flex;
    align-items: center;
  }

  .nav-logo {
    width: fit-content;
    height: 100%;
  }

  .socials-container a {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .overlay {
    display: none;
  }
}
